@{
    ViewData["Title"] = "About Page";
}

<div class="container mx-auto max-w-2xl">
    <h1 class="text-center pb-5 font-sans text-4xl font-bold">About this project</h1>
    <p class="font-serif text-xl text-center pb-7 border-b-2 border-gray-500">this project is about practising Asynchronous programming, unit testing controllers and dependency ijection</p>
</div>